/*img {
	max-width: 250px;
}*/
/*body {
	font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

input, textarea { 
	font-size : 18px;
	width : 200px;
}

input[type=submit] {
	width : auto;
}

label {
	font-size : 16px;
}



#loginToggle { 
	cursor : pointer;
}

.popupForm {
	padding : 5px;
	border : 2px black outset;
	display : inline-block;
}

	.popupForm input {
		width : 200px;
	}
	.popupForm label {
		width: 150px;
		display : inline-block;
	}

	.popupForm input[type=checkbox], .popupForm input[type=submit] {
		width : auto;
	}

menu li {
	display : inline;
}*/
