@{
	ViewBag.Title = "Welcome to Index!";
}

<h1>@ViewBag.Title</h1>
<div>
	<img src="~/img/SK-A-1935.jpg" />
</div>
<div>
	<form id="theForm">
		<label>Your name : </label>
		<br />
		<input />
		<br />
		<label>Email : </label>
		<br />
		<input type="email" />
		<br />
		<label>Subject : </label>
		<br />
		<input type="text" />
		<br />
		<label>Message : </label>
		<br />
		<textarea rows="4"></textarea>
		<br />
		<input type="submit" value="Send Message" />
		<button id="theButton">Test</button>
	</form>
</div>

<div>
	<div id="loginToggle">Login</div>
	<form class="popupForm">
		<div>
			<label>Username</label>
			<input />
		</div>
		<div>
			<label>Password</label>
			<input type="password" />
		</div>
		<div>
			<input type="checkbox" />
			<label>Remember me?</label>
		</div>
		<div>
			<input type="submit" value="Login" />
		</div>
	</form>
</div>
